sentence_transformers
# transformers
# torch
fastapi
uvicorn
pydantic

# pip install pip-tools
# pip-compile --strip-extras server/fes_max/requirements.in
# pip install -r server/fes_max/requirements.txt